@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 97%;
    --foreground: 278 100% 15%;
    --card: 0 0% 100%;
    --card-foreground: 278 100% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 278 100% 15%;
    --primary: 278 100% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 67% 94%;
    --secondary-foreground: 278 100% 25%;
    --muted: 240 67% 94%;
    --muted-foreground: 278 100% 35%;
    --accent: 265 34% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 67% 88%;
    --input: 240 67% 90%;
    --ring: 265 34% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 278 100% 10%;
    --foreground: 240 67% 95%;
    --card: 278 100% 12%;
    --card-foreground: 240 67% 95%;
    --popover: 278 100% 10%;
    --popover-foreground: 240 67% 95%;
    --primary: 265 34% 62%;
    --primary-foreground: 278 100% 10%;
    --secondary: 278 100% 15%;
    --secondary-foreground: 240 67% 95%;
    --muted: 278 100% 15%;
    --muted-foreground: 240 67% 80%;
    --accent: 265 34% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 100% 20%;
    --input: 278 100% 20%;
    --ring: 265 34% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
